.idea/
wxPython.py
nogui.py
test.py
__pycache__/
arial.ttf
DejaVuSans.ttf
DejaVuSansBold.ttf
DejaVuSansMono-Oblique.ttf
icon.jpg
no_gui_comments.py
polygon.py
pytubefix - Ярлык (2).lnk
pytubefix - Ярлык.lnk
downloads/
download.txt
